<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <div *ngIf="currentGraphElement.type === 'pod' || currentGraphElement.type === 'pod-stack'">Pod configuration
      </div>
      <div *ngIf="currentGraphElement.type === 'data-source' || currentGraphElement.type === 'data-source-stack'">
        DataSource configuration
      </div>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="currentGraphElement.type === 'pod-stack' || currentGraphElement.type === 'pod'">
      <div *ngIf="currentGraphElement.type === 'pod-stack'">
        <label for="pod-stack-select">Pod:</label>
        <select id="pod-stack-select" [(ngModel)]="selectedIdentifier" class="browser-default custom-select">
          <option *ngFor="let pod of currentGraphElement.podStack.pods"
                  [value]="pod.name">{{pod.name}}</option>
        </select>
      </div>
      <div *ngIf="currentGraphElement.type === 'pod'">
        <label for="pod-select">Pod:</label>
        <select id="pod-select" [(ngModel)]="selectedIdentifier" class="browser-default custom-select">
          <option [value]="currentGraphElement.pod.name">{{currentGraphElement.pod.name}}</option>
        </select>
      </div>

      <div *ngIf="selectedIdentifier != undefined && selectedElement() != undefined">
        <br>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <label for="podName">Name:</label>
              <input type="text" class="form-control" id="podName" disabled="disabled" [value]="selectedIdentifier">
            </div>
          </div>
          <div *ngIf="selectedElement().pod.creatorDataSources.length > 0">
            <br>
            <div class="row">
              <div class="col-12">
                <label for="podCreatorDataSources">Creator Data Sources:</label>
                <table id="podCreatorDataSources" class="table">
                  <tr *ngFor="let creatorDataSource of selectedElement().pod.creatorDataSources">
                    <td>{{creatorDataSource.name}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div *ngIf="currentGraphElement.type === 'data-source-stack' || currentGraphElement.type === 'data-source'">
      <div *ngIf="currentGraphElement.type === 'data-source-stack'">
        <label for="data-source-stack-select">DataSource:</label>
        <select id="data-source-stack-select" [(ngModel)]="selectedIdentifier" class="browser-default custom-select">
          <option *ngFor="let dataSource of currentGraphElement.dataSourceStack.dataSources"
                  [value]="dataSource.name">{{dataSource.name}}</option>
        </select>
      </div>
      <div *ngIf="currentGraphElement.type === 'data-source'">
        <label for="data-source-select">DataSource:</label>
        <select id="data-source-select" [(ngModel)]="selectedIdentifier" class="browser-default custom-select">
          <option [value]="currentGraphElement.dataSource.name">{{currentGraphElement.dataSource.name}}</option>
        </select>
      </div>

      <div *ngIf="selectedIdentifier != undefined && selectedElement() != undefined">
        <br>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <label for="dataSourceName">Name:</label>
              <input type="text" class="form-control" id="dataSourceName" disabled="disabled"
                     [value]="selectedIdentifier">
            </div>
          </div>
          <div *ngIf="selectedElement().dataSource.hasOutputName">
            <div class="row">
              <div class="col-12">
                <label for="dataSourceOutputName">Output Name:</label>
                <input type="text" class="form-control" id="dataSourceOutputName" disabled="disabled"
                       [value]="selectedElement().dataSource.outputName">
              </div>
            </div>
          </div>
          <div *ngIf="selectedElement().dataSource.hasCreatorPod">
            <div class="row">
              <div class="col-12">
                <label for="dataSourceCreatorPodName">Creator Pod Name:</label>
                <input type="text" class="form-control" id="dataSourceCreatorPodName" disabled="disabled"
                       [value]="selectedElement().dataSource.creatorPod.name">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="selectedElement() != undefined">
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="filterGraph(selectedElement())">Filter</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </div>
</ng-template>
