<ng-template #content let-modal>
  <!-- POD MODAL CONTENT -->
  <div *ngIf="currentGraphElement.type === 'pod' || currentGraphElement.type === 'pod-stack'">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title-pod">
        Pod configuration
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div *ngIf="selectedElement().type === 'pod'">
    <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="col">
            <div *ngIf="currentGraphElement.pod.podStack != undefined; else singlePod;">
              <div class="card">
                <div class="card-header">
                  Pod
                </div>
                <div class="card-body">
                  <!--suppress HtmlFormInputWithoutLabel -->
                  <select id="pod-select"
                          [(ngModel)]="selectedIdentifier"
                          class="browser-default custom-select"
                          (change)="selectionChange($event.target)">
                    <option *ngFor="let pod of currentGraphElement.pod.podStack?.pods"
                            [value]="pod.name">{{pod.name}}</option>
                  </select>
                </div>
              </div>
            </div>

            <ng-template #singlePod>
              <div class="card">
                <div class="card-header">
                  Pod
                </div>
                <div class="card-body">
                  <!--suppress HtmlFormInputWithoutLabel -->
                  <select id="pod-select-single"
                          [(ngModel)]="selectedIdentifier"
                          class="browser-default custom-select"
                          (change)="selectionChange($event.target)">
                    <option [value]="currentGraphElement.pod?.name">{{currentGraphElement.pod?.name}}</option>
                  </select>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <form [formGroup]="podFormData" (ngSubmit)="handleSubmit()">
      <div class="modal-body">
        <div class="container">
          <div *ngIf="selectedIdentifier != undefined && selectedElement() != undefined">
            <br>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    Name
                  </div>
                  <div class="card-body">
                    <!--suppress HtmlFormInputWithoutLabel, HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" id="podName" disabled="disabled"
                           [value]="selectedIdentifier">
                  </div>
                </div>
              </div>
            </div>
            <br>


            <div *ngIf="selectedElement().pod.phase != undefined && selectedElement().pod.phase !== ''">
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-header">
                      Phase
                    </div>
                    <div class="card-body">
                      <!--suppress HtmlFormInputWithoutLabel -->
                      <input type="text" class="form-control" id="pod-phase" disabled="disabled"
                             [value]="selectedElement().pod.phase">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>


            <div *ngIf="selectedElement().pod.creatorDataSources.length > 0">
              <div class="row">
                <div class="col">

                  <div class="card">
                    <div class="card-header">
                      Creator Data Sources
                    </div>
                    <div class="card-body">
                      <table id="podCreatorDataSources" class="table">
                        <tr *ngFor="let creatorDataSource of selectedElement().pod.creatorDataSources">
                          <td><a href="/id/{{creatorDataSource.name}}">{{creatorDataSource.name}}</a></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>


            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-header">
                    Raw Data
                  </div>
                  <div class="card-body">
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <textarea class="form-control" id="podRawData" rows="8"
                              formControlName="raw">
                    </textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="filterGraph(selectedElement())">Filter</button>
      </div>
    </form>
  </div>

  <!--  DATA SOURCE MODAL CONTENT  -->
  <div *ngIf="currentGraphElement.type === 'data-source' || currentGraphElement.type === 'data-source-stack'">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title-data-source">
        Data Source configuration
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div *ngIf="currentGraphElement.type === 'data-source'">
    <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="col">
            <div *ngIf="currentGraphElement.dataSource.dataSourceStack != undefined; else singleDataSource;">
              <div class="card">
                <div class="card-header">
                  Data Source
                </div>
                <div class="card-body">
                  <!--suppress HtmlFormInputWithoutLabel -->
                  <select id="data-source-select"
                          [(ngModel)]="selectedIdentifier"
                          class="browser-default custom-select"
                          (change)="selectionChange($event.target)">
                    <option *ngFor="let dataSource of currentGraphElement.dataSource.dataSourceStack?.dataSources"
                            [value]="dataSource.name">{{dataSource.name}}</option>
                  </select>
                </div>
              </div>
            </div>

            <ng-template #singleDataSource>
              <div class="card">
                <div class="card-header">
                  Data Source
                </div>
                <div class="card-body">
                  <!--suppress HtmlFormInputWithoutLabel -->
                  <select id="data-source-select-single"
                          [(ngModel)]="selectedIdentifier"
                          class="browser-default custom-select"
                          (change)="selectionChange($event.target)">
                    <option
                      [value]="currentGraphElement.dataSource?.name">{{currentGraphElement.dataSource?.name}}</option>
                  </select>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>

    <form [formGroup]="dataSourceFormData" (ngSubmit)="handleSubmit()">
      <div class="modal-body">
        <div class="container">
          <br>
          <div *ngIf="selectedIdentifier != undefined && selectedElement() != undefined">
            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-header">
                    Name
                  </div>
                  <div class="card-body">
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" id="dataSourceName" disabled="disabled"
                           [value]="selectedIdentifier">
                  </div>
                </div>
              </div>
            </div>
            <br>


            <div class="card">
              <div class="card-header">
                Labels
              </div>
              <div class="card-body">
                <div *ngFor="let labelGroup of dataSourceLabelsFormArray.controls; index as i">
                  <div class="mt-1">
                    <div class="row">
                      <div class="col">
                        <div class="input-group">
                          <label style="position: relative; top: 7px;" for="{{'data-source-label-key-' + i}}">{{i + 1}}.&nbsp;</label>
                          <input type="text"
                                 [ngClass]="{'is-valid': !selectedElement().readOnly && getControlFromGroup('key', labelGroup).valid, 'is-invalid': !selectedElement().readOnly && getControlFromGroup('key', labelGroup).invalid}"
                                 class="form-control" id="{{'data-source-label-key-' + i}}"
                                 [formControl]="getControlFromGroup('key', labelGroup)">
                          <label style="position: relative; top: 7px;" for="{{'data-source-label-value-' + i}}">&nbsp;=&nbsp;</label>
                          <input type="text"
                                 [ngClass]="{'is-valid': !selectedElement().readOnly && getControlFromGroup('value', labelGroup).valid, 'is-invalid': !selectedElement().readOnly && getControlFromGroup('value', labelGroup).invalid}"
                                 class="form-control" id="{{'data-source-label-value-' + i}}"
                                 [formControl]="getControlFromGroup('value', labelGroup)">
                          <button *ngIf="!selectedElement().readOnly" type="button" class="btn btn-danger ml-3"
                                  (click)="removeLabelFromDataSourceForm(i)"><i
                            class="fa fa-trash"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div *ngIf="!selectedElement().readOnly">
                      <button type="button" class="btn btn-block btn-success mt-3"
                              (click)="addLabelToDataSourceForm()"
                              [disabled]="dataSourceLabelsFormArray.invalid">
                        <i class="fa fa-plus-square"></i>
                      </button>
                      <small class="form-text text-muted ml-2">Jeder Key darf nur 1x existieren. Doppelte Keys werden
                        ignoriert.</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>


            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-header">
                    Spec URL:
                  </div>
                  <div class="card-body">
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" id="data-source-spec-url"
                           [ngClass]="{'is-valid': !selectedElement().readOnly && dataSourceSpecUrlFormControl.valid, 'is-invalid': !selectedElement().readOnly && dataSourceSpecUrlFormControl.invalid}"
                           formControlName="specUrl">
                  </div>
                </div>
              </div>
            </div>
            <br>


            <div
              *ngIf="selectedElement().dataSource.validationError != undefined && selectedElement().dataSource.validationError !== ''">
              <div class="row">
                <div class="col">

                  <div class="card">
                    <div class="card-header">
                      Validation Error
                    </div>
                    <div class="card-body">
                      <!--suppress HtmlFormInputWithoutLabel -->
                      <input type="text" class="form-control" id="data-source-validation-error" disabled="disabled"
                             [value]="selectedElement().dataSource.validationError">
                    </div>
                  </div>
                </div>
              </div>
              <br>
            </div>


            <div *ngIf="selectedElement().dataSource.hasOutputName">
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-header">
                      Output Name
                    </div>
                    <div class="card-body">
                      <!--suppress HtmlFormInputWithoutLabel -->
                      <input type="text" class="form-control" id="dataSourceOutputName" disabled="disabled"
                             [value]="selectedElement().dataSource.outputName">
                    </div>
                  </div>
                </div>
              </div>
              <br>
            </div>


            <div *ngIf="selectedElement().dataSource.hasCreatorPod">
              <div class="row">
                <div class="col">

                  <div class="card">
                    <div class="card-header">
                      Creator Pod Name
                    </div>
                    <div class="card-body">
                      <!--suppress HtmlFormInputWithoutLabel -->
                      <input type="text" class="form-control" id="dataSourceCreatorPodName" disabled="disabled"
                             [value]="selectedElement().dataSource.creatorPod.name">
                    </div>
                  </div>
                </div>
              </div>
              <br>
            </div>


            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-header">
                    Raw Data
                  </div>
                  <div class="card-body">
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <textarea class="form-control" id="dataSourceRawData" rows="8"
                              disabled="disabled"
                              [value]="selectedElement().dataSource?.raw"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="filterGraph(selectedElement())">Filter</button>
        <button *ngIf="!selectedElement().readOnly" type="submit" class="btn btn-outline-dark"
                [disabled]="!dataSourceFormData.valid">
          Save
        </button>
      </div>
    </form>
  </div>

  <!--  STEP MODAL CONTENT  -->
  <div *ngIf="currentGraphElement.type === 'step'">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title-step">
        Step configuration
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <form [formGroup]="stepFormData" (ngSubmit)="handleSubmit()">
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header">
                Name
              </div>
              <div class="card-body">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input type="text" class="form-control" disabled="disabled"
                       [value]="currentGraphElement.step.name">
              </div>
            </div>
          </div>
        </div>
        <br>


        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header">
                Ingests
              </div>
              <div class="card-body">
                <div *ngFor="let ingestGroup of stepIngestsFormArray.controls; index as i;">
                  <div class="row">
                    <div class="col">
                      <label for="{{'ingest-key-' + i}}">Key:</label>
                      <input type="text" class="form-control" id="{{'ingest-key-' + i}}"
                             [ngClass]="getControlFromGroup('key', ingestGroup).valid ? 'is-valid':'is-invalid'"
                             [formControl]="getControlFromGroup('key', ingestGroup)">
                    </div>
                    <div class="col">
                      <label for="{{'ingest-value-' + i}}">Value:</label>
                      <input type="text" class="form-control" id="{{'ingest-value-' + i}}"
                             [formControl]="getControlFromGroup('value', ingestGroup)">
                  </div>
                  <div class="col">
                    <label for="{{'ingest-check-' + i}}">Check:</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="{{'ingest-check-' + i}}"
                             [formControl]="getControlFromGroup('check', ingestGroup)">
                      <button type="button" class="btn btn-danger ml-3"
                              (click)="removeIngestFromStepForm(i)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <button type="button" class="btn btn-block btn-success mt-3"
                            (click)="addIngestToStepForm()"
                            [disabled]="stepIngestsFormArray.invalid">
                      <i class="fa fa-plus-square"></i>
                    </button>
                    <small class="form-text text-muted ml-2">Jeder Key darf nur 1x existieren. Doppelte Keys werden
                      ignoriert.</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>


        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header">
                Outputs
              </div>
              <div class="card-body">
                <div *ngFor="let outputGroup of stepOutputsFormArray.controls; index as i;">
                  <div class="row">
                    <div class="col-4">
                      <label for="{{'output-name-' + i}}">Name:</label>
                      <input type="text" class="form-control" id="{{'output-name-' + i}}"
                             [ngClass]="getControlFromGroup('name', outputGroup).valid ? 'is-valid':'is-invalid'"
                             [formControl]="getControlFromGroup('name', outputGroup)">
                    </div>
                    <div class="col-8">
                      <div class="row">
                        <div class="col">
                          <label for="{{'output-url-' + i}}">URL:</label>
                          <div class="input-group">
                            <input type="text" class="form-control" id="{{'output-url-' + i}}"
                                   [ngClass]="getControlFromGroup('url', outputGroup).valid ? 'is-valid':'is-invalid'"
                                   [formControl]="getControlFromGroup('url', outputGroup)">
                            <button type="button" class="btn btn-danger ml-3"
                                    (click)="removeOutputFromStepForm(i)"><i
                              class="fa fa-trash"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div *ngFor="let labelGroup of getOutputLabelsFormArray(outputGroup).controls; index as j;">
                        <div class="mt-1">
                          <div class="row">
                            <div class="col">
                              <div class="input-group">
                                <label style="position: relative; top: 7px;" for="{{'output-label-key-' + j}}">{{j + 1}}
                                  .&nbsp;</label>
                                <input type="text" class="form-control" id="{{'output-label-key-' + j}}"
                                       [ngClass]="getControlFromGroup('key', labelGroup).valid ? 'is-valid':'is-invalid'"
                                       [formControl]="getControlFromGroup('key', labelGroup)">
                                <label style="position: relative; top: 7px;" for="{{'output-label-value-' + j}}">&nbsp;=&nbsp;</label>
                                <input type="text" class="form-control" id="{{'output-label-value-' + j}}"
                                       [ngClass]="getControlFromGroup('value', labelGroup).valid ? 'is-valid':'is-invalid'"
                                       [formControl]="getControlFromGroup('value', labelGroup)">
                                <button type="button" class="btn btn-warning ml-3"
                                        (click)="removeLabelFromStepOutputLabelsFormArray(getOutputLabelsFormArray(outputGroup), j)"
                                        [disabled]="getOutputLabelsFormArray(outputGroup).length <= 1">
                                  <i class="fa fa-trash"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <button type="button" class="btn btn-block btn-success mt-3"
                                  (click)="addLabelToStepOutput(getOutputLabelsFormArray(outputGroup))"
                                  [disabled]="getOutputLabelsFormArray(outputGroup).invalid">
                            <i class="fa fa-plus-square"></i> Add Label
                          </button>
                          <small class="form-text text-muted ml-2">Jeder Key darf nur 1x existieren. Doppelte Keys
                            werden ignoriert. Es muss mindestens ein Label existieren.</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <button type="button" class="btn btn-block btn-success mt-3"
                            (click)="addOutputToStepForm()"
                            [disabled]="stepOutputsFormArray.invalid">
                      <i class="fa fa-plus-square"></i>
                    </button>
                    <small class="form-text text-muted ml-2">Jeder Name darf nur 1x existieren. Doppelte Namen werden
                      ignoriert.</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>


        <div
          *ngIf="currentGraphElement.step.validationError != undefined && currentGraphElement.step.validationError !== ''">
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  Validation Error
                </div>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" class="form-control" id="step-validation-error" disabled="disabled"
                           [value]="currentGraphElement.step.validationError">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>


      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              Template
            </div>
            <div class="card-body">
              <!--suppress HtmlFormInputWithoutLabel -->
              <textarea class="form-control" id="step-template" rows="8"
                        [ngClass]="stepTemplateFormControl.valid ? 'is-valid':'is-invalid'"
                        formControlName="template">
              </textarea>
            </div>
          </div>
        </div>
      </div>
      <br>


      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              Raw Data
            </div>
            <div class="card-body">
              <!--suppress HtmlFormInputWithoutLabel -->
              <textarea class="form-control" id="stepRawData" rows="8" disabled="disabled"
                        [value]="currentGraphElement.step?.raw"></textarea>
            </div>
          </div>
        </div>
      </div>


      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark"
                [disabled]="!stepFormData.valid">
          Save
        </button>
      </div>
    </form>
  </div>


</ng-template>
